body{
    /* text-align: center; */
    /* margin: 0;
    padding: 0; */
}
h1{
    background-color: rgb(143, 143, 143);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    /* border: 4px solid black; */
    padding-top: 0px;
    padding-bottom: 7px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
#bg14{
    background-color: #003396;
}
#bg13{
    background-color: #174fac;
}
#bg12{
    background-color: #3273c3;
}
#bg11{
    background-color: #5494db;
}
#bg10{
    background-color: #73b9ed;
}
#bg9{
    background-color: #85cef9;
}
#bg8{
    background-color: #b8e9f7;
}
#bg7{
    background-color: #5dbb63;
}
#bg6{
    background-color: #edc4dc;
}
#bg5{
    background-color: #e4a0c5;
}
#bg4{
    background-color: #e27bb2;
}
#bg3{
    background-color: #e2629f;
}
#bg2{
    background-color: #e44b8c;
}
#bg1{
    background-color: #d24788;
}
#bg0{
    background-color: #bb447e;
}
.pm{
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: aqua; */
    font-size: 28px;
    font-weight: 550;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #f5fd21;
    
}